#Patoune {
  width: 50px;
  margin-right: 15px;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 10vh;
}

#header > h1 {
  font-size: 2em;
}
